.colorB{
    background-color: black;
    margin: 0;
   
}

.tabla{
    margin: 0 4rem;
}

.padre{
    
    background-image: url(image.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.padre h2{
    font-size: 4rem;
    margin-bottom: 0.5px;
}

.padre button{
    background-color: rgb(255, 189, 127);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.titulo{
    text-align: center;
    color: white;
    margin-top: 3rem;
}

th{
    color: white;
}

tr{
    color: white;
}

.infoMO{
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.contenidoo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenidoo p{
    font-size: 25px;
}

.btn-info{
    color: white;
}
